div{
    background-color: aqua;
    height: 200px;
    width: 200px;
 }
 div:hover
 {
    width: 600px;
    transition: width 4s;
    transition-delay: 0s;
    transition-duration: 10s;
    transition-timing-function: ease-out;

 }
 /* div:hover
 {
    height: 1000px;
    transition: height 4s;

 } */